<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ftpData>
    <ftpUrl>ftp://myserver.com</ftpUrl>
    <shipDataUrl>http://my.site.nl/path/to/shipdata.json</shipDataUrl>
    <userName>myUsername</userName>
    <userPassword>myPassword</userPassword>
  </ftpData>
  <wgAppID>wg.net api password</wgAppID>
</configuration>