<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ftpData>
    <ftpUrl>ftp://192.168.1.1/volume(sda1)/</ftpUrl>
    <shipDataUrl>http://127.0.0.1/Resources/shipdata.json</shipDataUrl>
    <apiUrl>https://api.worldofwarships.eu/wows/ships/stats/?application_id=</apiUrl>
    <jsonFile>Ships.json</jsonFile>
    <userName>Anonymous</userName>
    <userPassword></userPassword>
  </ftpData>
  <wgAppID>******</wgAppID>
</configuration>