<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <web>
    <shipData>http://127.0.0.1/Resources/shipdata.json</shipData>
    <shipImages>http://127.0.0.1/Resources/PanzerschifferIcons.zip</shipImages>
    <version>http://127.0.01/Resources/api.php</version>
  </web>
  <local>
    <shipData>Resources/shipdata.json</shipData>
    <shipImages>Resources/PanzerschifferIcons.zip</shipImages>
  </local>
  <appId>****</appId>
</configuration>