<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <web>
    <shipData>http://path.toshipdata.url/shipdatafile.json</shipData>
    <shipImages>http://path.toshipdata.url/Resources/PanzerschifferIcons.zip</shipImages>
    <version>http://path.toversion.url/api.php</version>
  </web>
  <local>
    <shipData>Local/Path/To/Shipdata.json</shipData>
  </local>
  <appId>WargamingAppID</appId>
</configuration>